<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

  
	<rewrite>
		<rules>
			<rule name="Imported Rule 1" stopProcessing="true">
				<match url="^(.*)$" ignoreCase="false" />
				<conditions logicalGrouping="MatchAll">
					<add input="{R:1}" pattern="^test.php" ignoreCase="false" negate="true" />
					<add input="{R:1}" pattern="^install/" ignoreCase="false" negate="true" />
				</conditions>
				<action type="Rewrite" url="/tests/paonore/index.php" />
			</rule>
		</rules>
	</rewrite>

	
    </system.webServer>
</configuration>